@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin header {
  padding: 0.5rem;
  display: inline-block;
}

@mixin side-box($size) {
  height: $size;
  overflow: scroll;
}

@mixin avatar($size) {
  height: $size;
  width: $size;
  object-fit: cover;
  border-radius: 10%;
  display: inline-block;
  border: 0.1rem solid $in-color;
  box-shadow : 0 0 0 0.1rem $out-color;
}

@mixin link() {
  &:hover {
    background-color: $opa;
    text-decoration: none;
    font-weight: bold;
    color: $font;
  }
}

@mixin line($px) {
  border-bottom: $px dotted $base;
}
