= render 'shared/side'

.main__container
  .main__container__body

    - 5.times do
      %section.talk
        .talk__top
          = image_tag "valentine.jpg", class: "talk__top__avatar"
          %p.talk__top__name jjjjj
        .talk__body
          .talk__body__left
            %p あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
          .talk__body__right
            .date
              %p 既読
              %p #{fa_icon 'clock'}23日前


  .main__container__footer
    %input{:name => "NAME", :type => "text", class: "main__container__footer__form"}/
    %input{:name => "NAME", :type => "file", class: "main__container__footer__file"}/
    .main__container__footer__submit
      done!
