%aside.sidebar
  %section.user
    = link_to edit_user_path(current_user), class: "side-user" do
      = image_tag (current_user.avatar), class: "user__avatar"
      %span.user__name
        = current_user.name

  %section.room
    %ul.room-list
      %li
        %span.name
          ssss
        %p.text
          aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaab


  %section.member
    %h3.member__top
      * Room メンバー
    %ul.member__list
      = image_tag "valentine.jpg", class: "member__list__avatar"
      %p.member__list__name
        ddddffffffffffffffffffffffffffffffffff

